{% include "base.html" %}
{% block main %}
{% for book in books %}

    <section class="py-5">
        <div class="container">
            <div class="row-mt2">
              <div class="card" style="width: 18rem;">
                <img src="{{borrow.borrowing_image.url}}" width="122px" height="350px" class="card-img-top" >
              <div class="card-body">
              <h5 class="card-title">{{borrow.borrowing_title}}</h5>
              <div class="h-borrowing-container">
              </div>
                <p class="card-text">{{borrow.borrowing_desc}}</p>
                <a class="btn btn-primary" href="{%url 'rent' book_id=borrow.id%}">Lån</a>
              </div>
              </div>

            </div>
        </div>
    </section>
{% endfor %}
{% endblock main %}
