{% extends "base.html" %}
{% block main %}
<h2>Last opp en bok</h2>
<div class="container">
<form method="POST" action="#" enctype="multipart/form-data>">
{% csrf_token %}
<div class="mb-3">
  <label for="borrowing_title" class="form-label">Skriv inn titelen for boken</label>
  {{borrowing_f.borrowing_title}}
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Skriv inn beskrivelsen for boken</label>
  {{borrowing_f.borrowing_desc}}
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Last opp ett bilde av boken</label>
  {{borrowing_f.borrowing_image}}
</div>

<button class="btn btn-primary">Last opp</button>
  </form>
  </div>
{% endblock main %}
