{% extends "base.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet"  href="{%static 'css/auth.css'%}">
<form method="post" action="#">
  <div class="auth-block-main">
  {% csrf_token %}
  <div class="auth-form">
    <h3>Opprett en bruker</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Skriv inn eposten din</label>
    {{signup_f.email}}
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Skriv inn ett brukernavn</label>
    {{signup_f.username}}
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Skriv inn ett sikkert passord</label>
    {{signup_f.password1}}
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Skriv inn det samme passordet</label>
    {{signup_f.password2}}
  </div>
  <button class="btn btn-primary">Opprett</button>
</form>
<br>
<a href="{%url 'login'%}">Har du allerede en konto?</a>
  </div>
  </div>
{% endblock main %}
